      - name: Deploy Bicep (Storage + Static Website)
        shell: bash
        run: |
          set -euo pipefail
          RG="jacklabs123"
          LOCATION="uksouth"   # change if needed (must be like uksouth/ukwest/westeurope)
          STG="${{ secrets.AZURE_STORAGE_ACCOUNT }}"

          ls -la
          ls -la infra

          az deployment group create \
            --resource-group "$RG" \
            --template-file "infra/main.bicep" \
            --parameters location="$LOCATION" storageAccountName="$STG"
