name: Deploy infra + site to Azure Storage Static Website

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy Bicep (Storage)
        shell: bash
        run: |
          set -euo pipefail
          RG="jacklabs123"
          LOCATION="uksouth"
          STG="${{ secrets.AZURE_STORAGE_ACCOUNT }}"

          ls -la
          ls -la infra

          az deployment group create \
            --resource-group "$RG" \
            --template-file "infra/main.bicep" \
            --parameters location="$LOCATION" storageAccountName="$STG"

      - name: Enable Static Website (create $web)
        shell: bash
        run: |
          az storage blob service-properties update \
            --account-name "${{ secrets.AZURE_STORAGE_ACCOUNT }}" \
            --account-key "${{ secrets.AZURE_STORAGE_KEY }}" \
            --static-website \
            --index-document index.html \
            --404-document 404.html

      - name: Upload site to $web
        shell: bash
        run: |
          az storage blob upload-batch \
            --account-name "${{ secrets.AZURE_STORAGE_ACCOUNT }}" \
            --account-key "${{ secrets.AZURE_STORAGE_KEY }}" \
            --destination '$web' \
            --source ./site \
            --overwrite
